/*
Colors
Dark Grey - #53585f
*/

.section {
  min-height: 100%;
}

div.btn-group.btn-group-justified {
  padding: 10px;
  position: absolute;
  top: 0px;
  z-index: 1;
}

#one, #two, #three, #four {
  text-align: center;
  color: white;
}

#one {
  /*background-color: red;*/

}

#logo {
  width: 100px;
  height: 114px;
  background-image: url('img/YP_Logo.png');
  background-repeat: no-repeat;
  background-position: center top;
  position: fixed;
  top: 0px;
  left: -5px;
}


#two {
  /*background-color: green;*/
}

#three {
  /*background-color: gray;*/
}

#four {
  /*background-color: blue;*/
}

div.col-md-4.box {
  /*background-color: #53585f;*/
  min-height: 250px;
}
