<?xml version='1.0' encoding='utf-8'?>
<widget id="com.frog.cordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CordovaDemo</name>
    <description>
        A simple Apache Cordova application designed to test multiple interaction models.
    </description>
    <author email="karl.carstensen@gmail.com" href="http://www.karlcarstensen.com">
        Karl Carstensen
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="EnableViewportScale" value="true" />
</widget>
