/*
Colors
Dark Grey - #53585f
*/

.section {
  min-height: 100%;
}

div.btn-group.btn-group-justified {
  padding: 10px;
  position: absolute;
  top: 0px;
  z-index: 1;
}

#one, #two, #three, #four {
  text-align: center;
  color: white;
  background-color: #ddd;
}

/* First Screen */

#one {
  background-image: url('../img/frame-one.jpg');
}

#logo {
  width: 100px;
  height: 114px;
  background-image: url('../img/YP_Logo.png');
  background-repeat: no-repeat;
  background-position: center top;
  position: fixed;
  top: 0px;
  left: 10px;
}

.intro-text {
  color: #000;
  text-transform: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

/* Second Screen */

#two {
  background-image: url('../img/frame-two.jpg');
}
.two-title {

}

#myModal {

}
.modal-header {
  border: none !important;
}
.modal-dialog {
  width: 95% !important;
}

/* Third Screen */

#three {
  /*background-color: gray;*/
}

/* Forth Screen */

#four {
  /*background-color: blue;*/
}

div.col-md-4.box {
  /*background-color: #53585f;*/
  min-height: 250px;
}
